<app-navbar></app-navbar>

<div class="container mt-4">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID Novedades</th>
        <th>Descripcion</th>
        <th>Referencia 1 novedad</th>
        <th>Referencia 2 novedad</th>
        <th>Jrv</th>
        <th>Region</th>
        <th>Provincia</th>
        <th>Canton</th>
        <th>Parroquia</th>
        <th>Recinto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let novedadesActa of novedadesActas">
        <td>{{ novedadesActa.idNovedades }}</td>
        <td>{{ novedadesActa.descripcionNovedad }}</td>
        <td>{{ novedadesActa.referencia1Novedades ?? 'Ninguno' }}</td>
        <td>{{ novedadesActa.referencia2Novedades ?? 'Ninguno' }}</td>
        <td>{{ novedadesActa.idJrv ?? 'Ninguno' }}</td>
        <td>{{ novedadesActa.idRegion ?? 'Ninguno' }}</td>
        <td>{{ novedadesActa.idProvincia ?? 'Ninguno' }}</td>
        <td>{{ novedadesActa.idCanton ?? 'Ninguno' }}</td>
        <td>{{ novedadesActa.idParroquia ?? 'Ninguno' }}</td>
        <td>{{ novedadesActa.idRecinto ?? 'Ninguno' }}</td>
      </tr>
    </tbody>
  </table>
</div>
