<div class="container mt-5">
    <h1 class="text-center">Actas Electorales Ecuador</h1>
    <p class="text-center">¡Bienvenido al Portal de Actas Electorales! Aquí podrás gestionar y procesar de manera eficiente las actas electorales de cada jornada, garantizando la transparencia y precisión en la recopilación de los resultados. Nuestro sistema te permite cargar, visualizar y analizar las actas en formato digital, facilitando la supervisión y revisión de los datos electorales. Gracias por formar parte de este esfuerzo por asegurar un proceso electoral justo y confiable..</p>
  
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <img src="assets/cne.png" class="img-fluid" alt="Acta Electoral">
          </div>
        </div>
      </div>
    </div>
  </div>
  