<app-navbar></app-navbar>

<div class="container mt-4">
  <!-- Botón para crear una nueva entrada -->
  <div class="mb-3">
    <button class="btn btn-primary" (click)="createActa()">Crear Nueva Acta</button>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Region</th>
        <th>Provincia</th>
        <th>Canton</th>
        <th>Parroquia</th>
        <th>Recinto</th>
        <th>Descripcion</th>
        <th>Votantes Masculinos</th>
        <th>Votantes Femeninos</th>
        <th>Coordinador</th>
        <th>Observaciones</th>
        <th>Adicionales</th>
        <th>Archivos</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let acta of actas">
        <td>{{ acta.idJrv }}</td>
        <td>{{ acta.nombreRegion }}</td>
        <td>{{ acta.nombreProvincia ?? 'Ninguno' }}</td>
        <td>{{ acta.nombreCanton ?? 'Ninguno' }}</td>
        <td>{{ acta.nombreParroquia ?? 'Ninguno' }}</td>
        <td>{{ acta.nombreRecinto ?? 'Ninguno' }}</td>
        <td>{{ acta.descripcionJrv ?? 'Ninguno' }}</td>
        <td>{{ acta.votantesmJrv ?? 'Ninguno' }}</td>
        <td>{{ acta.votantesfJrv ?? 'Ninguno' }}</td>
        <td>{{ acta.coordinadorJrv ?? 'Ninguno' }}</td>
        <td>{{ acta.observacionesJrv ?? 'Ninguno' }}</td>
        <td>{{ acta.adicionalesJrv ?? 'Ninguno' }}</td>
        <td><a [href]="acta.archivoJrv" target="_blank">Ver Archivo</a></td>
        <td><img *ngIf="acta.imagenJrv" [src]="acta.imagenJrv" alt="Imagen" class="img-thumbnail" /></td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="editActa(acta.idJrv)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deleteActa(acta.idJrv)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
